@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-satoshi: "Satoshi", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background); */
  /* color: var(--foreground); */
  font-family: Arial, Helvetica, sans-serif;
}

.partner-heading {
  font-family: var(--font-satoshi) !important;
  font-weight: 600 !important;
  font-size: 15px !important;
  line-height: 18px !important;
  letter-spacing: 3.8px !important;
  color: #62b5e1 !important;
  text-transform: uppercase !important;
}

.cta-heading {
  font-family: var(--font-satoshi) !important;
  font-weight: 900 !important;
  font-size: 40px !important;
  line-height: 52px !important;
  letter-spacing: 0.6px !important;
  color: #121212 !important;
  white-space: nowrap !important;
}
